// Place all the styles related to the websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#websites {

    div#new-website-form-container {
        display: none;
    }

    .inactive {
        background: $gray-lighter;
    }

    .website-status {
        display: inline-block;
        width: 100px;

        span {
            display: inline-block;
            float: right;
        }
    }

}
